:root{
    --blue:#3f5efb;
    --white:#fff;
    --gray:#949494;
    --gray2: #cccccc;
    --puple: #833ab4;
    --dark:#0c0c0c;
}

body{
    background-color: var(--gray);
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: right;
    height: 98vh;
    
}
.box_menssege{
    background-color: var(--gray2);
    color: var(--dark);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    max-height: 800px;
    padding: 1rem;
}
.header{
   border-radius: 10px;
    background-color: var(--white);
    color: var(--dark);
    justify-content: center;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.footer{
    background-color: var(--white);
    color: var(--gray2);
    padding: 1rem;
    border-radius: 10px;
}
input{
    width: 89%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    }
.btn_submit{
    border-radius: 20px;
    border: none;
    padding: 20px;
}
#btn_submit:hover{
    background-color: var(--blue);
    cursor: pointer;
    transition: .4s;
}


.sent {
    text-align: right;
    /* Estilos adicionais para a mensagem enviada */
}

.received {
    text-align: left;
   
    /* Estilos adicionais para a mensagem recebida */
}