
body{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,249,255,1) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
  #container {
    
    width: 300px;
    height: 300px ;
    margin: 300px auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
  }
  #telaLogin{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  input{
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    border: none; 
  }

#entrar{
  border:none;
  border-radius: 5px;
  width: 100px;
  padding: 10px 20px;
  background-image: url("entrar.png");
  background-size: 20px 20px; /* Ajuste o tamanho conforme necessário */
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
  
  }
  
.icon {
  display: inline-block;
  width: 20px; /* Ajuste o tamanho conforme necessário */
  height: 20px; /* Ajuste o tamanho conforme necessário */
  background-size: cover;
  background-repeat: no-repeat;
  
}

.user-icon {
  background-image: url(pessoa.png);
}

.password-icon {
  background-image: url(cadeado.png);
}
.entrar-icon {
  background-image: url(entrar.png);
}